body {
    margin: 250px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.body-one {
    display: grid;
    margin-left: 110px;
    margin-top: 200px;
    margin-right: 110px;
}

.heading-one {
    font-family: parkinsans;
    font-size: 35px;
    font-weight: 700;
}

.para-one {
    margin-left: 120px;
    margin-top: 20px;
    width: 510px;
    font-family: parkinsans;
    font-size: 15px;
    color: grey;
}

.seperate-text {
    margin-top: 0px;
    margin-left: 90px;
}

.start-button {
    margin-left: 210px;
    width: 320px;
    height: 60px;
    margin-top: 27px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(253, 83, 192);
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: 650;
    transition-duration: 0.7ms;

}
.start-button:hover {
box-shadow: 1px 1px 13px black;
}

.screen-body {
    margin-top: 75px;
}

.screen-image {
    width: 830px;
    margin-left: 100px;
}

.views-grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin-top: 70px;
    margin-left: 140px;
}

.communities-logo {
    width: 40px;
}

.messages-logo {
    width: 40px;
}

.k {
    font-size: 60px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    
}

.m {
    font-size: 60px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

.communities {
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

.messages {
    color: grey;
    margin-top: 5px;
    margin-left: 20px;
}

.background-one {
    margin-top: 70px;
}

.background-image {
    width: 1000px;
}

.grow-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: 540px 350px;
    background-color: rgb(246, 251, 255);
}

.grow-image {
    width: 400px;
}

.grow-heading {
margin-left: 70px;
margin-top: 150px;
font-family: parkinsans;
font-size: 30px;
font-weight: 700;
}

.grow-para {
   font-family: parkinsans;
   margin-left: 70px;
   margin-top: 15px;
   font-size: 12px;
   width: 400px;
}


.flowing-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: 450px 500px;
    margin-top: 100px;
}

.flowing-image {
    width: 400px;
}

.flowing-heading {
margin-left: 70px;
margin-top: 100px;
font-family: parkinsans;
font-size: 30px;
font-weight: 700;
}

.flowing-para {
   font-family: parkinsans;
   margin-left: 70px;
   margin-top: 15px;
   font-size: 12px;
   width: 420px;
}

.your-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: 540px 350px;
    background-color: rgb(246, 251, 255);
}

.your-image {
    width: 400px;
}

.your-heading {
margin-left: 70px;
margin-top: 130px;
font-family: parkinsans;
font-size: 30px;
font-weight: 700;
}

.your-para {
   font-family: parkinsans;
   margin-left: 70px;
   margin-top: 15px;
   font-size: 12px;
   width: 420px;
}

.grid-three {
    display: grid;
    margin-left: 110px;
    margin-top: 130px;
    margin-right: 110px;
}

.heading-two {
    font-family: parkinsans;
    font-size: 35px;
    font-weight: 700;
    margin-left: 85px;
}

