.grid-last {
    display: grid;
    grid-template-columns: 530px 300px;
    background-color: rgb(1, 38, 47);
    width: 1000px;
}

.huddle-image {

margin-top: 60px;
margin-left: 50px;
}

.last-image {
    color: white;
}

.news {
    color: white;
    font-family: parkinsans;
    font-size: 23px;
    margin-top: 80px;
}

.lorem {
    margin-top: 10px;
    width: 270px;
    font-size: 13px;
    margin-left:70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.to-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.internal-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50px 200px;
    margin-left: 70px;
    row-gap: 10px;
}

.color-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.button-grid {
    display: grid;
    grid-template-columns: 100px 100px;
}
.input {
    height: 35px;
    width: 250px;
    margin-top: 30px;
    border-radius: 7px;
}

.Subscribe-button {
    height: 36px;
    margin-top: 32px;
    margin-left: 200px;
    border: 0px;
    width: 100px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color:  rgb(253, 83, 192);
    color: white;
    cursor: pointer;
}

.icon-image {
    margin-left: 55px;
    margin-top: 60px;
}

.color {
    background-color: rgb(1, 38, 47);
}